<% unread_notifications_count = user.notifications.where(read: false).count %>
<% if unread_notifications_count > 0 %>
  <span class="badge bg-danger" data-notifications-target="badge" style="position: absolute; top: -5px; right: -5px; font-size: 0.7em;">
    <%= unread_notifications_count %>
  </span>
<% end %>
