<div class="footer">
  <div class="footer-logo">
    <%= image_tag "icon_quest_odyssey.png", class: "footer-logo" %>
  </div>
  <div class="footer-links">
    <a href="#" class="footer-link">Home</a>
    <a href="#" class="footer-link">Characters</a>
    <a href="#" class="footer-link">New Campaign</a>
    <a href="#" class="footer-link">Calendar</a>
  </div>
  <div class="footer-social">
    <a href="#" class="social-link">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="#" class="social-link">
      <i class="fa-brands fa-twitter"></i>
    </a>
    <a href="#" class="social-link">
      <i class="fa-brands fa-instagram"></i>
    </a>
  </div>
  <div class="footer-legal">
    <p>© 2021 QuestOdyssey. All rights reserved.</p>
  </div>
</div>
