<div class="navbar">
  <div class="navbar-logo">
    <%= image_tag "icon_quest_odyssey.png", class: "logo" %>
  </div>
  <a href="#" class="home bttn active">
    <i class="fa-solid fa-dungeon"></i>
    <p class="hidden-text">Home</p>
  </a>
  <a href="#" class="characters bttn">
    <i class="fa-solid fa-user-ninja"></i>
    <p class="hidden-text">Characters</p>
  </a>
  <a href="#" class="new-campaign bttn">
    <i class="fa-solid fa-dice"></i>
    <p class="hidden-text">New Campaign</p>
  </a>
  <a href="#" class="calendar bttn">
    <i class="fa-solid fa-calendar-xmark"></i>
    <p class="hidden-text">Calendar</p>
  </a>
</div>
