.new-btn{
  display: inline-block;
  outline: none;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: .3em;
  height: 2.75em;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px rgba(139,66,8,1),
              inset 0 -1px 1px 3px rgba(250,227,133,1);
  background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
  border: 1px solid #a55d07;
  color:var(--burgundy);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  cursor: pointer;
  transition: all .2s ease-in-out;
  margin-left: 35%;

&:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23),
                inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
  border: 1px solid rgba(165,93,7,.6);
  color: white;
}
}
.login-btn{
  margin-left: 45%;
}

.reset-btn{
  margin-left:25%;
  margin-top: 15px;
}

.camp-btns{
  display: flex;
  justify-content: center;
}

.char-btn{
  width: auto;
  margin-left: 30%;
}
//campaign show/index btns
.back-btn-show{
  font-size: 3rem;
  color:var(--yellow);
  text-shadow: 0 0 5px rgb(112, 107, 107), 0 0 2px rgb(94, 91, 91), 0 0 2px var(--green), 0 0 5px var(--green), 0 0 5px var(--green);
  &:hover  {
    color: var(--white);
  }
}
.edit-camp-btn {
  font-size: 1em;
  border-radius: .3em;
  width: 5em;
  height: 2em;
  background-color: var(--yellow);
  color:var(--burgundy);
  cursor: pointer;
  transition: all .2s ease-in-out;
  text-align: center;
  display: inline-table;
  margin-right: 10px;
  padding-top: 3px;
&:hover {
  color: white;
}
}
.delete-camp-btn {
  font-size: 1em;
  border-radius: .3em;
  width: 5em;
  height: 2em;
  background-color: var(--gray);
  color:var(--yellow);
  cursor: pointer;
  transition: all .2s ease-in-out;
  text-align: center;
  display: inline-table;
  padding-top: 3px;
&:hover {
  color: white;
}
}
.next-sess{
  border: none;
  font-size: 3rem;
  color:var(--yellow);
  cursor: pointer;
  transition: all .2s ease-in-out;
  text-shadow: 0 0 5px rgb(112, 107, 107), 0 0 2px rgb(94, 91, 91), 0 0 2px var(--green), 0 0 5px var(--green), 0 0 5px var(--green);
&:hover  {
  background-size: 150% 150%;
  color: var(--white);
}
}
.invite-toggle-btn{
  margin: auto;
  margin-top: 1.5rem;
  position: relative;
}


#party-modal {
  position: absolute;
  right: 11rem;
  top: 25rem;
  height: 35px;
  font-size: 25px;
  color: var(--yellow);
  background-color: var(--burgundy);
  border: 1px solid;
  padding: 5px;
  border-radius: 10px;
  width: 35px;
  transition:0.5s ease;
  &:hover{
    color: var(--gray-dark);
    background-color: var(--yellow);
  }
}

.note-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0.5rem;
  padding: 0.3rem;
  z-index: 10;
}
