.camp-index{
  margin: auto;
  text-align: center;
  h1{
    margin: 20px;
  }
}
.camp-index-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: start;
}




.cards-campaign {
  overflow: hidden;
  background: var(--green);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 350px;
  height: 450px;
  border-radius: 5px;
  position: relative;
  gap: 30px;
  img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
  }
}

.camp-info{
  height: 150px;
  width: 100%;
  margin: 5px;

  h5{
    padding-left: 10px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #ffd700, #ffac00, #ffcc33, #ffd700);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p{
    padding: 10px;
    font-size: 15px;
    color: white;
  }
}

.card-campaign:hover {
  transform: scale(1.05);
}
