.camp-container{
  height: 50em;
  width: 75em;
  background-image: url('/assets/char-sheet-background.jpeg');
  margin: 2em;
  padding: 5em;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.camp-card{
  width: 55em;
  padding: 0em 2em;
  background-image: url('/assets/scroll-background.jpeg');
  background-size: contain;
  height: 27em;
  border-radius: 0.5em;
  h3{
    text-align: center;
    color: black;
    padding: 1em;
  }
}
.camp-show-links{
  width: 60em;
  height: 3em;
  position: absolute;
  top: 7em;
}
.back-btn-show,.next-sess{
  font-size: 3em;
  color:var(--yellow);
  &:hover  {
    color: var(--white);
  }
}

.camp-tab-content{
  height: 22em;
  max-height: 15em;
  overflow-y:scroll;
  color: black;
  padding: 0em 2em;
}
#campaignTab {
  padding: 0em 2em;
}
.show-avatars{
  display: flex;
}



.edit-camp-btn {
  font-size: 1em;
  border-radius: .3em;
  width: 5em;
  height: 2em;
  background-color: var(--yellow);
  color:var(--burgundy);
  cursor: pointer;
  transition: all .2s ease-in-out;
  text-align: center;
  display: inline-table;
  margin-right: 10px;
  padding-top: 3px;
&:hover {
  color: white;
}
}
.delete-camp-btn {
  font-size: 1em;
  border-radius: .3em;
  width: 5em;
  height: 2em;
  background-color: var(--gray);
  color:var(--yellow);
  cursor: pointer;
  transition: all .2s ease-in-out;
  text-align: center;
  display: inline-table;
  padding-top: 3px;
&:hover {
  color: white;
}
}
.camp-show-btns{
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top:2em;
}

.show-avatars{
  display: flex;
}
