.camp-container{
  height: 50rem;
  width: 75rem;
  background-image: url('/assets/char-sheet-background.jpeg');
  margin: 2rem;
  padding: 5rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.camp-card{
  width: 55rem;
  padding: 0em 2rem;
  background-image: url('/assets/scroll-background.jpeg');
  background-size: contain;
  height: 27rem;
  border-radius: 0.5rem;
  h3{
    text-align: center;
    color: black;
    padding: 1rem;
  }
}
.camp-show-links{
  width: 60rem;
  height: 3rem;
  position: absolute;
  top: 7rem;
}
.back-btn-show,.next-sess{
  font-size: 3rem;
  color:var(--yellow);
  &:hover  {
    color: var(--white);
  }
}

.camp-tab-content{
  height: 22rem;
  max-height: 15rem;
  overflow-y:scroll;
  color: black;
  padding: 1rem 2rem;
}
#campaignTab {
  padding: 0rem 2rem;
}
.show-avatars{
  display: flex;
}

.edit-camp-btn {
  font-size: 1em;
  border-radius: .3em;
  width: 5em;
  height: 2em;
  background-color: var(--yellow);
  color:var(--burgundy);
  cursor: pointer;
  transition: all .2s ease-in-out;
  text-align: center;
  display: inline-table;
  margin-right: 10px;
  padding-top: 3px;
&:hover {
  color: white;
}
}
.delete-camp-btn {
  font-size: 1em;
  border-radius: .3em;
  width: 5em;
  height: 2em;
  background-color: var(--gray);
  color:var(--yellow);
  cursor: pointer;
  transition: all .2s ease-in-out;
  text-align: center;
  display: inline-table;
  padding-top: 3px;
&:hover {
  color: white;
}
}
.camp-show-btns{
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top:2em;
}

.show-avatars{
  display: flex;
}

.tab-content::-webkit-scrollbar {
  width: 8px;
}

.tab-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}


.tab-content::-webkit-scrollbar-track {
  background: transparent;
}
