.camp-page-container {
  display: flex;
  justify-content: center;  // Centers horizontally
  align-items: center;      // Centers vertically
  min-height: 100vh;        // Ensures full height of viewport
  padding: 20px;           // Adds some padding for smaller screens
}
.camp-container{
  position: relative;
  height: 60rem;
  width: 75rem;
  background-image: url('/assets/char-sheet-background.jpeg');
  margin: 2rem;
  padding: 3rem 5rem 5rem 5rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.camp-card{
  width: 55rem;
  padding: 0em 2rem;
  background-image: url('/assets/scroll-background.jpeg');
  background-size: contain;
  height: 27rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  h3{
    text-align: center;
    color: black;
    padding: 1rem;
  }
}
.camp-show-links{
  width: 60rem;
  height: 3rem;
  position: relative;

}
.name-link{
  font-size: 1rem;
  color:var(--rust);
  &:hover  {
    color: var(--white);
  }
}

.camp-tab-content{
  height: 22rem;
  max-height: 15rem;
  overflow-y:scroll;
  color: black;
  padding: 1rem 2rem;
}
#campaignTab {
  padding: 0rem 2rem;
}
.camp-show-btns{
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top:1em;
  position: relative;
}

.show-avatars{
  display: flex;
}
.tab-content::-webkit-scrollbar {
  width: 8px;
}
.tab-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.tab-content::-webkit-scrollbar-track {
  background: transparent;
}
.notes-box{
  background-color: rgba(0, 0, 0, 0.101);
}
.notes-box:focus {
  outline: none; /* Removes default focus outline */
  border-color: var(--green); /* Change border color */
  box-shadow: 0 0 8px rgba(var(--green), 0.5); /* Soft green glow */
}
