.camp-index{
  // margin: auto;
  text-align: center;
  h1{
    margin: 20px;
  }
}
.camp-index-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap:2em;
  align-items: start;
}

.cards-campaign {
  overflow: hidden;
  background: var(--green);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 20em;
  height: 30em;
  border-radius: 0.3em;
  position: relative;
  gap: 30px;
  box-shadow: 0 0 10px rgba(255, 254, 254, 0.592);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img{
    height: 14em;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1em;
  }
}

.camp-info{
  height: 7em;
  width: 100%;

  h4{
    padding-left: 10px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #ffd700, #ffac00, #ffcc33, #ffd700);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p{
    padding: 0.7em;
    font-size: 1em;
    color: white;
  }
}

.card-campaign:hover {
  transform: scale(1.05);
}

.search-bar {
  margin: 2em;
  width: 25em;
}

.campaign-avatars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5em;
  padding-bottom: 2em;
}

.avatar-campaign {
  border-radius: 50%;
  // background-color: #ffac00;
  box-shadow: 0 0 10px var(--green);
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out;
  &:hover{
  z-index: 10;
  transform: scale(1.5);
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: top;
  }
}

