.form-new{
  background-color: var(--burgundy);
  width: 700px;
  margin: auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(177, 75, 52);
  margin-top: 70px;
  margin-right: auto;
  font-family: "Faculty Glyphic";
  h1, h2{
    text-align: center;
    padding: 20px 0px;
    background: linear-gradient(90deg, #ffd700, #ffac00, #ffcc33, #ffd700);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
}
.form-text {
  color: rgba(255, 255, 255, 0.682);  /* Change this to your desired color */
  font-style: italic;
  font-size: smaller;
}
.flexible-textarea {
  height: 100px;
  overflow-y: auto;
  resize: vertical;
}

.devise-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: -10px;
}
