.navbar {
  position: fixed;
  display: inline-block;
  top: 0;
  left: 0;
  height: 100%;
  width: 6.25rem;
  background-color: var(--green);
  float: left;
  overflow-x: hidden;
  transition: width var(--speed);
  z-index: 1000;
}

.navbar.open {
  width: 20%;
}

.navbar-logo {
  width: 100%;
  text-align: center;
}

.logo {
  width: 6.25rem;
}

.logo:hover {
  animation: spin 1s linear infinite;
}

.navbar-menu {
  list-style: none;
  padding: 0;
}

.navbttn {
  // max-height: 1rem;
  width: calc(100% - 1rem);
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  overflow: hidden;
  text-align: left;
  padding-left: 1rem;
  color: transparent;
  margin-left: 0.9375rem;
  font-size: 2rem;
}

.navbttn i {
  height: 100%;
  // width: 1em;
  padding: 0 0.25em 0 0;
  color: var(--rust);
  font-size: 2.25rem;
}

.navbttn p {
  margin: 0;
  padding: 0;
  flex: 1;
  // color: var(--rust);
  font-size: 1.5rem;
  white-space: nowrap;
}

.navbttn:hover {
  border-right: 0.25rem solid var(--orange);
  padding-right: calc(0.5rem - 0.25rem);
  background-color: #212121;
  color: white;
}

.navbttn.active {
  border-right: 0.25rem solid var(--rust);
  padding-right: calc(0.5rem - 0.25rem);
}


// .navbar:hover {
//   width: 20%;
// }

.navbar.open .navbttn.active {
  border-right: 0.25rem solid var(--rust);
  padding-right: calc(0.5rem - 0.25rem);
}

// .navbar a {
//   position: relative;
// }

// .navbar a .dropdown-menu {
//   display: none;
//   position: absolute;
//   background-color: var(--green);
//   padding: 10px;
//   top: 100%;
//   left: 0;
//   z-index: 1100;
// }

// .navbar a:hover .dropdown-menu {
//   display: block;
//   animation: slideDown 0.3s ease-out;
// }

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .navbar {
    width: 5rem;
  }

  .navbar:open {
    width: 28%;
  }

  .logo {
    width: 5rem;
  }

  .navbttn {
    margin-left: 0.5rem;
  }

  .navbttn i {
    font-size: 2rem;
  }

  .navbttn p {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    width: 4rem;
  }

  .navbar:open {
    width: 35%;
  }

  .logo {
    width: 4rem;
  }

  .navbttn {
    margin-left: 0.2rem;
  }

  .navbttn i {
    font-size: 1.5rem;
  }

  .navbttn p {
    font-size: 1rem;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
