<%= form_with url: campaign_campaign_characters_path(@campaign), method: :post,
              data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" },
              id: "invite" do |form| %>
  <h2>Invite Adventurers to this Quest</h2>
  <div class="d-flex col-md-3 row g-4">
    <%= form.label :user_id, 'Select a player to invite:' %>
    <%= form.collection_select 'campaign_character[user_id]',
      User.where.not(id: @campaign.campaign_characters.pluck(:user_id) + [@campaign.user.id]),
      :id, :nickname,
      { prompt: "Select a player" },
      { required: true } %>
    <%= form.submit "Send Invite", class:"new-btn invite-btn" %>
  </div>
<% end %>
