
  <div class="invite-card ">
    <% if policy(@campaign).invite? %>
      <%= form_with model: [@campaign, @campaign_character], local: true do |form| %>
        <h3>Invite Users to this Campaign</h3>
        <div class="d-flex col-md-3 row g-4">
          <%= form.label :user_id, 'Select a player to invite:' %>
          <%= form.collection_select :user_id,
            User.where.not(id: @campaign.campaign_characters.pluck(:user_id) + [@campaign.user.id]),
            :id, :nickname,
            { prompt: "Select a player" },
            { required: true } %>
          <%= form.submit "Send Invite", class:"new-btn invite-btn" %>
        </div>
      <% end %>
    <% end %>
  </div>
