<div class="camp-index" data-controller="search">
  <h1>Campaigns</h1>

  <input type="text"
         placeholder="Search campaigns..."
         data-search-target="input"
         data-action="input->search#filter"
         class="search-bar">

  <div id="campaign-results" data-search-target="results" class="camp-index-cards">
    <% @campaigns.each do |campaign| %>
      <%= render "campaigns/campaigns", campaign: campaign %>
    <% end %>
  </div>
</div>



 