
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Campaigns</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="d-flex flex-nowrap overflow-auto">
          <% @campaigns.each do |campaign| %>
            <div class="card mx-2" style="min-width: 300px; max-width: 300px;">
              <div class="card-body">
                <h5 class="card-title"><%= campaign.name %></h5>
                <p class="card-text"><%= campaign.description %></p>
                <%= link_to 'View Campaign', campaign_path(campaign), class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

