// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

:root {
  --pink: hotpink;
  --gray-dark: #222;
  --gray: #343434;
  --burgundy: #38090e;
  --teal: #101618;
  --green: #323e36;
  --rust: #b24b34;
  --orange: #e86724;
  --yellow: #fe9c33;
  --speed: 0.3s;
  --base-font-size: 14px;
  // --bs-body-font-size: 1rem;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Faculty Glyphic";
  background-color: var(--teal);
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Grenze Gotisch";
}

a {
  color: white;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
  margin-left: 7.5rem;
  // padding: 1rem;
  width: calc(100% - 6.25rem);
  transition: width var(--speed);
}
